html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(23, 23, 23);
}

.synth-title {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.synth-title2 {
  margin: 0;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

canvas {
  display: block;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0 0 3px 2.5px rgb(160, 160, 160);
}

#keyboard-container {
  margin: auto;
  background-color: rgb(65, 65, 65);
  border: 2px solid rgb(46, 46, 46);
  border-radius: 15px;
  width: 75vw;
  height: 65vh;
  padding: 25px;
  box-shadow: inset 0 0 10px 3.5px rgb(52, 52, 52);
}

#keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#waveform-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

#modulation {
  display: flex;
}

.env-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.key {
  display: flex;
  font-family: sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 3.5px 3.5px 10px 10px;
  width: 45px;
  height: 125px;
  list-style: none;
}

.white-key {
  background-color: white;
}

.black-key {
  color: white;
  background-color: black;
}

.instructions {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.instructions-para {
  font-size: 21px;
}